{% load static %}
<!Doctype html>
<html>
<head>

  		<link rel = "stylesheet" href="{% static 'a1/Authentication.css' %}">
        <link rel="stylesheet" href="{% static 'a1/nav.css' %}">
        <link rel="stylesheet" href="{% static 'a1/footer.css' %}" />

<title >Sign-Up</title>
<style>
  div.form{
margin-top: 8%;
margin-bottom:7.25% ;

  }
</style>
</head>

<body>

  <nav>
    <div class="nav">
      <div class="logo">Library System</div>
      
    </div>
  </nav>

  <div class="form"  >

<h2 > Create a new account</h2>
<hr>
<br><br>

    <form action="{% url 'signup' %}" method="post">
          {% csrf_token %}
      <div id="message" style="display:none; padding:10px; margin:10px; border-radius:5px;"></div>
{% if error %}

 <div id="message" style="color: #721c24; border:1px solid #f5c6cb ; background-color: #f5c6cb ; font-weight: bold; padding:10px; margin:10px; border-radius:5px;">

    {{ error }}
  </div>
   <script>
    
    setTimeout(function() {
      window.location.href = "{% url 'signup' %}"; 
    }, 3000);
  </script>
{% endif %}

{% if success %}
<div id="message" style="color: #155724;border: 1px solid #c3e6cb; background-color: #d4edda ; font-weight: bold; padding:10px; margin:10px; border-radius:5px;">

    {{ success }}
  </div>

  <script>
    
    setTimeout(function() {
      window.location.href = "{% url 'login' %}"; 
    }, 3000);
  </script>

{% endif %}

  <div class="row">
    <input  id="name" type="text"  name="name" placeholder= "Name"required >
    <input  id="email" type="email" name="email" placeholder= "example@gmail.com"required>
  </div>
  <div class="row">
    <input  id="pass" type="password" name="pass" placeholder= "Password"required>
    <input  id="Cpass" type="password" name="Cpass" placeholder= "confirm Password"required>
  </div>
  
      
      <br>
      <label for ="user">user</label>
      <input  id ="user" type="radio" name="is_admin" value="User" required >
    
      <label for="admin">admin</label>
      <input id ="admin" type ="radio" name="is_admin" value="admin" required>
     
      <br><br>
      <input type="submit" value="Sign-Up" >  
    
      <br><br>
    
    <a href="{% url 'login' %}">Already have an account?</a>
</form>
</div>

<footer>
  <div class="footer">
    <div class="footer-links">
        <a href="#">&#8505; About Us</a> |
        <a href="#">&#9993; Contact</a> |
        <a href="#">&#9871; Privacy Policy</a> |
        <a href="#">&#9873; Terms of Service</a>
    </div>
    <div class="copyright">
      <p>&copy; 2025 Local Library. All rights reserved .</p>
    </div>
  </div>
</footer>
    <!---------------------------->
  

</body>
</html>